.info-container {
    padding: 14px 0 14px 19px;
    background-color: #dddddd;
}

.info-container p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.city-container {
    padding: 14px 0 14px 19px;
}

.city-container ul li p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

#city-title {
    margin-bottom: 11px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    color: #000;
}

.city-list {
    list-style: none;
}